<header class="o-navbar">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#navbar-collapse-x" id="btn-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">lo-ad</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-x">
        <ul class="nav navbar-nav">
          <li><a href="#section_1">Getting Started</a></li>
          <li><a href="#section_2">About</a></li>
          <li><a href="#section_3">Pricing</a></li>
          <li><a href="#section_4">FAQ</a></li>
          <li><a href="#section_5">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="section section_1" id="section_1">
  <div class="col-12" id="landing-text">
      <div class="text-center" id="text-container">
          <h1>FOR NEW KIND OF COMPANY</h1>
          <p class="lead"><span>"lo-ad "</span> is a digital marketing and publishing agency. Helping businesses <br/>to reach their audience efficiently.</p>
      </div>
  </div>
</section>

<section class="section section_2" id="section_2">
  <div id="about" class="col-12 container">
    <h2>ABOUT</h2>
    <h1>What is <span>lo-ad ?</span></h1>
    <p class="lead">We started this <span>"lo-ad "</span> to provide the marketing and publishing needs of businesses <br/>under one roof.</p>
    <div class="main-content">
        <div class="row">
          <div class="market market_1">
            <div class="col-sm-6" id="img_1">
                <img src="assets/imgs/market_1.svg" class="img-responsive">
            </div>
            <div class="text_box col-sm-6" id="text_contain_1">
                <h2>Managing Ads & Assets</h2>
                <p>We manage ads and assets using Business tools to optimize the results.</p>
            </div>
          </div>
          <div class="market market_2">
            <div class="col-sm-6" id="img_2">
                <img src="assets/imgs/market_2.svg" class="img-responsive">
            </div>
            <div class="text_box col-sm-6" id="text_contain_2">
                <h2>Calibrated Management</h2>
                <p>We us dynamic planning to stay in-touch with current trends and ensure that the campaign is executed flawlessly.</p>
            </div>
          </div>
        </div>
        <div class="feature col-xs-12">
          <div class="fe col-sm-4 col-xs-12">
            <img src="assets/imgs/stats.png">
            <div class="text_contain">
              <h3>Data Analytics</h3>
              <p> We use data analytics to provide better user centric experience to customers which gives us an edge over the competitors.</p>
            </div>
          </div>
          <div class="fe col-sm-4 col-xs-12">
            <img src="assets/imgs/service.png">
            <div class="text_contain">
              <h3>Better Intigration</h3>
              <p>We use different facebook platforms such as Pages, Groups, Stories to give our audience an integrated Experience.</p>
            </div>
          </div>
          <div class="fe col-sm-4 col-xs-12">
            <img src="assets/imgs/chart.png">
            <h3>Scheduling</h3>
            <p>We try and test best time to tweet. This simple scheduling can help you increase the interaction and reach.</p>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="section section_3" id="section_3">
  <h2>Pricing</h2>
  <div class="container" id="section-o_1">
    <div class="panel">
      <div class="title">
        <div class="title_1">
          <h3>8</h3>
        </div>
        <div class="title_2">
          <h3>Posts <span><br/>/ Month</span></h3>
        </div>
      </div>
      <h4>Social Media</h4>
      <ul class="list_1">
        <li>Facebooks</li>
        <li>Twitter</li>
      </ul>
      <br />
      <ul class="list_2">
        <li>Instagram</li>
        <li>Snapchat</li>
      </ul>
      <h4>Business Listing</h4>
      <ul class="list_3">
        <li>Google Bussiness</li>
        <li>Just Dial</li>
      </ul>
      <h5>With Audit Report & Planner</h5>
      <div class="btn_button">
        <a class="btn" href="#">5000 ₹ / month</a>
      </div>
    </div>
    <div class="panel">
      <div class="title">
        <div class="title_1">
          <h3>45</h3>
        </div>
        <div class="title_2">
          <h3>Posts <span><br/>/ Month</span></h3>
        </div>
      </div>
      <h4>Social Media</h4>
      <ul class="list_1">
        <li>Facebooks</li>
        <li>Twitter</li>
      </ul>
      <br />
      <ul class="list_2">
        <li>Instagram</li>
        <li>Snapchat</li>
      </ul>
      <h4>Business Listing</h4>
      <ul class="list_3">
        <li>Google Bussiness</li>
        <li>Just Dial</li>
      </ul>
      <h4>1 Social Media Manager</h4>
      <p>(Full Time)</p>
      <h4>1 Content Writer</h4>
      <p>(Part Time)</p>
      <h5>With Reports & Calenders</h5>
      <div class="btn_button">
        <a class="btn" href="#">22500 ₹ / month</a>
      </div>
    </div>
    <div class="panel">
      <div class="title">
        <div class="title_1">
          <h3>30</h3>
        </div>
        <div class="title_2">
          <h3>Posts <span><br/>/ Month</span></h3>
        </div>
      </div>
      <h4>Social Media</h4>
      <ul class="list_1">
        <li>Facebooks</li>
        <li>Twitter</li>
      </ul>
      <br />
      <ul class="list_2">
        <li>Instagram</li>
        <li>Snapchat</li>
      </ul>
      <h4>Business Listing</h4>
      <ul class="list_3">
        <li>Google Bussiness</li>
        <li>Just Dial</li>
      </ul>
      <h4 id="p_light"><span id="h_light">90</span> Interactions</h4>
      <h5>With Audit Report & Planner</h5>
      <div class="btn_button">
        <a class="btn" href="#">17000 ₹ / month</a>
      </div>
    </div>

    <h3 id="blog">Blog</h3>
    <div class="panel" id="blog_content">
      <div class="title">
        <div class="title_1">
          <h3>30</h3>
        </div>
        <div class="title_2">
          <h3>Posts <span><br/>/ Month</span></h3>
        </div>
      </div>
      <p id="blog_para">Sometimes having info-graphic is not enough, Sometimes we need to have direct communication with our audience. For all those special and exciting times write a blog.</p>
      <h4>Minimum 500 Words.</h4>
      <div id="para_btn" class="btn_button">
        <a class="btn" href="#">6000 ₹ / month</a>
      </div>
    </div>
  </div>
</section>

<section class="section section_4" id="section_4">
  <div class="container">
    <div class="row">
    <!-- ***** FAQ Start ***** -->
      <div class="col-sm-12">

          <div class="faq-title text-center">
              <h2>FAQ</h2>
          </div>
      </div>
      <div class="col-sm-12">
        <div id="accordion">
          <div class="faq">
            <div class="card">
              <div class="card-header" id="faqHeading-1">
                  <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                          Why Digital Media ?
                      </h5>
                  </div>
              </div>
              <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                <div class="card-body">
                    <p>We can get the accurate reaction on social media and we can also get very quick feedback.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq">
              <div class="card">
                <div class="card-header" id="faqHeading-2">
                    <div class="mb-0">
                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="true" data-aria-controls="faqCollapse-2">
                            Can we use Digital Marketing only ?
                        </h5>
                    </div>
                </div>
                <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                  <div class="card-body">
                      <p>Digital Marketing is the next big platform where you should concentrate on but, one should not concentrate all efforts only on one medium. One should always have distributed strategy.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="faq">
              <div class="card">
                <div class="card-header" id="faqHeading-3">
                    <div class="mb-0">
                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="true" data-aria-controls="faqCollapse-3">
                            What is a successful campaign ?
                        </h5>
                    </div>
                </div>
                <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                  <div class="card-body">
                      <p>There are different parameters to measure success of a campaign. Generally we concentrate on views. More views means better the campaign.</p>
                  </div>
              </div>
            </div>
          </div>
          <div id="reveal" style="display: none;">
          <div class="faq">
              <div class="card">
                <div class="card-header" id="faqHeading-4">
                    <div class="mb-0">
                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="true" data-aria-controls="faqCollapse-4">
                            What is your method of running a campaign ?
                        </h5>
                    </div>
                </div>
                <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                  <div class="card-body">
                      <p>We have a team of full time Designer and a Campaign Manager who are responsible for deciding strategy and execution. We plan and design the posts as per the requirement of client.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="faq">
              <div class="card">
                <div class="card-header" id="faqHeading-5">
                    <div class="mb-0">
                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="true" data-aria-controls="faqCollapse-5">
                            How many posts can you make in One day ?
                        </h5>
                    </div>
                </div>
                <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                  <div class="card-body">
                      <p>We can make 2-3 specialized posts in a single day but, we advice against posting more than 1 post a day.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="faq">
              <div class="card">
                <div class="card-header" id="faqHeading-6">
                    <div class="mb-0">
                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6" data-aria-expanded="true" data-aria-controls="faqCollapse-6">
                            How fast can we grow our user ?
                        </h5>
                    </div>
                </div>
                <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
                  <div class="card-body">
                      <p>User growth is not in our hand and we can’t give you a specific no. We can surely try to attract as many user as possible in short amount of time. But, we can not give a no. Or time period about user growth.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="faq">
              <div class="card">
                <div class="card-header" id="faqHeading-7">
                    <div class="mb-0">
                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="true" data-aria-controls="faqCollapse-7">
                            What are the factors of user growth ?
                        </h5>
                    </div>
                </div>
                <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
                  <div class="card-body">
                      <p>Main factors to attract more users to your page or social media page is to create and post quality content which is either very engaging or which provides some value to users day to day life. </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="faq">
              <div class="card">
                <div class="card-header" id="faqHeading-8">
                    <div class="mb-0">
                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-8" data-aria-expanded="true" data-aria-controls="faqCollapse-8">
                            Can we advertise for 1 month and then stop ?
                        </h5>
                    </div>
                </div>
                <div id="faqCollapse-8" class="collapse" aria-labelledby="faqHeading-8" data-parent="#accordion">
                  <div class="card-body">
                      <p>Yes, you can definitely do that. But, Social Media is a long term investment. User engagement and reach improves with time. So we generally advice for long term plans.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="faq">
              <div class="card">
                <div class="card-header" id="faqHeading-9">
                    <div class="mb-0">
                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-9" data-aria-expanded="true" data-aria-controls="faqCollapse-9">
                            Can we use Digital Marketing only ?
                        </h5>
                    </div>
                </div>
                <div id="faqCollapse-9" class="collapse" aria-labelledby="faqHeading-9" data-parent="#accordion">
                  <div class="card-body">
                      <p>Digital Marketing is the next big platform where you should concentrate on but, one should not concentrate all efforts only on one medium. One should always have distributed strategy.</p>
                  </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div id="sd-container">
      <div (click)="Faq_reveal()" class="contain_arrow">
        <div class="arrow"></div>
      </div>
    </div>
  </div>
</section>

<section class="section section_5 col-sm-12" id="section_5">
  <div class="container">
    <div class="faq-title text-center">
      <h2>Contact</h2>
    </div>
    <div class="address">
      <img src="assets/imgs/address.png" class="img-responsive">
      <h4>RDM Universal, 222 Golden City Center, Chilthan
          MIDC, Aurangabad (431003) MH, India.</h4>
    </div>
    <div class="form col-sm-12">
        <form [formGroup]="enquiryForm" (ngSubmit)="enquiry()" id="message" class="message_form">
          <div class="form_content col-xs-12 col-sm-6">
            <div id="form_name">
              <input type="text" value="" name="NAME" class="name_form" id="name" placeholder="Name" required=""  formControlName="name">
            </div>
          </div>
          <div class="form_content col-xs-12 col-sm-6">
            <div id="form_name">
              <input type="email" value="" name="EMAIL" class="name_form" id="name" placeholder="Email" required=""  formControlName="email">
              <div class="form_faliure" *ngIf="enquiryForm.get('email').hasError('email') && enquiryForm.get('email').touched">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form_content col-xs-12">
            <div id="form_desc">
              <input type="text" value="" name="COMMENT" class="desc_form" id="name" placeholder="Comment or Questions" required=""  formControlName="comment">
            </div>
            <input [disabled]="!enquiryForm.valid" type="submit" value="Send" name="send" id="form_send">
          </div>
        </form>
        <div class="form_success">
          <h5>{{successMsg}}</h5>
        </div>
        <div class="form_faliure">
          <h5>{{errorMsg}}</h5>
        </div>
    </div>
  </div>
</section>

<section class="section section_6 col-sm-12 visible-lg">
  <!-- Footer Links -->
  <div class="container text-center">
    <!-- Grid row -->
      <!-- Grid column -->
      <div class="footer_content col-xs-12">
        <!-- Content -->
        <h3>lo-ad</h3>
        <h5>For New Kind <br/>of Business.</h5>
        <h6>AN RDM UNIVERSAL VENTURE</h6>
      </div>

      <div class="e_links col-sm-6">
        <!-- Links -->
        <h5>Explore</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Getting Started</a>
          </li>
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
          <li>
            <a href="#!">Pricing</a>
          </li>
          <li>
            <a href="#!">Contact</a>
          </li>
        </ul>
        <div class="contact_contain col-sm-6">
          <div class="mail_contain">
            <a href="mailto:sales@rdmuniversal.com">
              <img src="assets/imgs/mail.png">
              <h6>sales@rdmuniversal.com</h6>
            </a>
          </div>
        </div>
        <div class="contact_contain col-sm-6">
          <div class="number_contain">
            <img src="assets/imgs/contact.png">
            <h6>8484080386</h6>
          </div>
        </div>
      </div>
      <!-- Grid column -->
</div>
  <!-- Footer Links -->
</section>
<!-- Footerw -->

<section class="section section_7 col-sm-12 hidden-lg">
  <!-- Footer Links -->
  <div class="container text-center">
    <!-- Grid row -->
        <div class="e_links_2 col-sm-12">
        <!-- Links -->
        <h5>Explore</h5>
        <ul class="list-unstyled list-2">
          <li>
            <a href="#section_1">Getting Started</a>
          </li>
          <li>
            <a href="#section_2">About</a>
          </li>
          <li>
            <a href="#section_3">Pricing</a>
          </li>
          <li>
            <a href="#section_4">FAQ</a>
          </li>
          <li>
            <a href="#section_5">Contact</a>
          </li>
        </ul>
        <div class="contact_contain_2 col-6">
          <div class="mail_contain_2">
            <a href="mailto:sales@rdmuniversal.com">
              <img src="assets/imgs/mail.png">
              <h6>sales@rdmuniversal.com</h6>
            </a>
          </div>
        </div>
        <div class="contact_contain_2 col-6">
          <div class="number_contain_2">
            <img src="assets/imgs/contact.png">
            <h6>8484080386</h6>
          </div>
        </div>
      </div>
      <!-- Grid column -->
      <div class="footer_content col-12">
        <!-- Content -->
        <div class="con_inline">
          <h3>lo-ad</h3>
          <h5>For New Kind of Business.</h5>
        </div> 
        <h6>AN RDM UNIVERSAL VENTURE</h6>
      </div>
  </div>
  <!-- Footer Links -->
</section>
